<!DOCTYPE html>
<html class="no-js" lang="en-US">
  <head></head>
  <body>
    {% include "head.njk" %}

    <div data-sticky-container>
      <div class="top-bar" data-sticky data-top-anchor="section-covers:bottom" data-options="marginTop:0;" style="width:100%">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Registration Issue 2017</li>
            <li class="has-submenu">
              <a href="">Sections</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a href="#news">News</a></li>
                <li><a href="#opinion">Opinion</a></li>
                <li><a href="#a&e">A&E</a></li>
                <li><a href="#sports">Sports</a></li>
                <li><a href="#prime">prime</a></li>
                <li><a href="#quad">Quad</a></li>
                <li><a href="#art">Art</a></li>
                <li><a href="#video">Video</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <header style="background-image:url('img/header.jpg');">
      <h1>Registration Issue 2017</h1>
    </header>
    <div class="row hide-for-small-only" id="section-covers">
      <div class="small-12 medium-3 columns">
        <a href="#news">
          <img id="news-cover" src="img/cover-opinion.png">
        </a>
      </div>
      <div class="small-12 medium-3 columns opinion">
        <a href="#opinion">
          <img id="opinion-cover" src="img/cover-opinion.png">
        </a>
      </div>
      <div class="small-12 medium-3 columns ae">
          <a href="#a&e">
            <img id="ae-cover" src="img/cover-ae.png">
          </a>
      </div>
      <div class="small-12 medium-3 columns sports">
        <a href="#sports">
          <img id="sports-cover" src="img/cover-sports.png">
        </a>
      </div>
    </div>
      {% for section_name, section in sections %}
      <hr>
        <div class="section row" id="{{section_name}}">
          <h2 class="section-header">{{section_name}}</h2>
          <div class="section-cards row small-up-1 medium-up-3 large-up-4">
            {% for article in section.articles %}
              <div class="column article-card">
                <a href="{{article.link}}" target="_blank">
                  <div class="article-image-link" style="background-image:url('{{article.image}}');">

                  </div>
                </a>
                <div class="article-details">
                  <a href="{{article.link}}" target="_blank">
                    <h3 class="article-title">{{article.title}}</h3>
                    <span><i>By {{article.author}}</i></span>
                    <p>{{article.description}}</p>
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
          <!-- <ul class="article-slider">
            {% for article in section.articles %}
              <li class="article-thumbnail">
                <div class="article-details">
                  <a href="{{article.link}}">
                    <span>BY {{article.author}}</span>
                    <p>{{article.description}}</p>
                    <h5>{{article.title}}</h5>
                  </a>
                </div>
                <a href="{{article.link}}" target="_blank">
                  <div class="article-image-link" style="background-image:url('{{article.image}}');">

                  </div>
                </a>

              <a href="{{article.link}}">
                <img class="article-image" src="{{article.image}}" alt="{{article.image_alt}}">
              </a>
              </li>
            {% endfor %}
          </ul> -->
        </div>
      {% endfor %}

    {% include "scripts.njk" %}
  </body>
</html>
