<!DOCTYPE html>
<html class="no-js" lang="en-US">
  <head></head>
  <body>
    {% include "head.njk" %}
    <header>
      <h1>Registration Issue 2017</h1>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="white" points="0,100 100,0 100,100"/>
      </svg>
    </header>
    <div class="row" id="section-covers">
      <div class="small-12 medium-6 columns">
        <a href="#news">
          <img src="img/cover-opinion.png">
        </a>
      </div>
      <div class="small-12 medium-6 columns">
        <a href="#opinion">
          <img src="img/cover-opinion.png">
        </a>
      </div>
      <div class="small-12 medium-6 columns">
          <a href="#ae">
            <img src="img/cover-opinion.png">
          </a>
      </div>
      <div class="small-12 medium-6 columns">
        <a href="#sports">
          <img src="img/cover-opinion.png">
        </a>
      </div>
    </div>
      {% for section_name, section in sections %}
        <div class="section large-12 columns {{section_name}}">
          <h1 class="section-header">{{section_name}}</h1>
          <ul class="article-slider">
            {% for article in section.articles %}
              <li class="article-thumbnail">
                <div class="article-details">
                  <a href="{{article.link}}">
                    <span>BY {{article.author}}</span>
                    <p>{{article.description}}</p>
                    <h5>{{article.title}}</h5>
                  </a>
                </div>
                <a href="{{article.link}}" target="_blank">
                  <div class="article-image-link" style="background-image:url('{{article.image}}');">

                  </div>
                </a>

              <a href="{{article.link}}">
                <img class="article-image" src="{{article.image}}" alt="{{article.image_alt}}">
              </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}

    {% include "scripts.njk" %}
  </body>
</html>
