body {
  font-family: "Lora", sans-serif;
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
  /* set height to pixels if you want angle to change with screen width */
}

header {
  position: relative;
  height: 75vh;
  background-image: linear-gradient(#ff9d2f, #ff6126);
}

h1 {
  text-align: center;
  line-height: 65vh;
  margin: 0;
}


#section-covers{
  transform: translateY(-15vh);
  img {
    transition: transform 0.3s ease-out;
    &:hover {
      transform: translateY(-10px);
    }

  }

  img.sports {
    border: 3px solid transparent;
    -moz-border-image: -moz-linear-gradient(to right top, #24FF87 0%, #007C06 100%);
    -webkit-border-image: -webkit-linear-gradient(to right top, #24FF87 0%, #007C06 100%);
    border-image: linear-gradient(to right top, #24FF87 0%, #007C06 100%);

    border-image-slice: 1;
  }

  img.ae {
    border: 3px solid transparent;
    -moz-border-image: -moz-linear-gradient(to right top, #FF25E2 0%, #86002D 100%);
    -webkit-border-image: -webkit-linear-gradient(to right top, #FF25E2 0%, #86002D 100%);
    border-image: linear-gradient(to right top, #FF25E2 0%, #86002D 100%);

    border-image-slice: 1;
  }

  img.news {
    border: 3px solid transparent;
    -moz-border-image: -moz-linear-gradient(to right top, #1B85FF 0%, #0003BB 100%);
    -webkit-border-image: -webkit-linear-gradient(to right top, #1B85FF 0%, #0003BB 100%);
    border-image: linear-gradient(to right top, #1B85FF 0%, #0003BB 100%);

    border-image-slice: 1;
  }

  img.opinion {
    border: 3px solid transparent;
    -moz-border-image: -moz-linear-gradient(to right top, #EEFF00 0%, #FFD000 100%);
    -webkit-border-image: -webkit-linear-gradient(to right top, #EEFF00 0%, #FFD000 100%);
    border-image: linear-gradient(to right top, #EEFF00 0%, #FFD000 100%);

    border-image-slice: 1;
  }
}

.article-image-link {
  height: 200px;
  background-size: cover;
  margin-bottom: 10px;
  @media screen and (max-width: 39.9375em) {
    height: 300px;
  }
}

.article-title{
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
}